
@model Assignment5.Models.BrowseSongViewModel
@{
    ViewData["Title"] = "Browse";
}
<h1>Browse Music</h1>
<hr />
<form asp-controller="Songs" asp-action="Browse" method="get">
    <p>

        Genre: <select asp-for="SongGenre" asp-items="Model.Genres">
            <option value=""></option>
            <option value="All">All</option>
        </select>
        <input type="submit" value="Submit" />
    </p>
    @if (ViewBag.ShowArtists)
    {
        <p>
            Artist:
            <select asp-for="SongArtist" asp-items="Model.Artists">
                <option value=""></option>
                <option value="All">All</option>
            </select>
            <input type="submit" value="Submit" />
        </p>
    }
</form>
@if (ViewBag.ShowSongs)
{
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Songs![0].Title)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Songs![0].Artist)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Songs![0].Genre)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Songs![0].Price)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Songs!)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Title)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Artist)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Genre)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Price)
                    </td>
                    <td>
                        <a asp-action="AddtoCart" asp-route-id="@item.SongId">Add to Cart</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}